In [3]:
import json
import os
import sqlite3
from dataclasses import asdict, dataclass
from datetime import datetime, timezone
from pathlib import Path
from textwrap import dedent
from typing import Any, Dict, List, Tuple, Union

import pandas as pd
from crewai import Agent, Crew, Process, Task
from crewai_tools import tool
from langchain.schema import AgentFinish
from langchain.schema.output import LLMResult
from langchain_community.tools.sql_database.tool import (
    InfoSQLDatabaseTool,
    ListSQLDatabaseTool,
    QuerySQLCheckerTool,
    QuerySQLDataBaseTool,
)
import pickle
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_core.callbacks.base import BaseCallbackHandler
from langchain_core.prompts import ChatPromptTemplate
from langchain_openai import ChatOpenAI

In [ ]:
user_api_key = ''
os.environ["OPENAI_API_KEY"] = user_api_key

In [45]:
db_host = "localhost"
db_name = "sam1"
db_user = "root"  # Replace with your actual username
db_password = "cronlabs"  # Replace with your actual password
db_port = "3306"

# MySQL connection URI
db_url = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
db = SQLDatabase.from_uri(db_url)

In [46]:
@dataclass
class Event:
    event: str
    timestamp: str
    text: str


def _current_time() -> str:
    return datetime.now(timezone.utc).isoformat()


class LLMCallbackHandler(BaseCallbackHandler):
    def __init__(self, log_path: Path):
        self.log_path = log_path

    def on_llm_start(
        self, serialized: Dict[str, Any], prompts: List[str], **kwargs: Any
    ) -> Any:
        """Run when LLM starts running."""
        assert len(prompts) == 1
        event = Event(event="llm_start", timestamp=_current_time(), text=prompts[0])
        with self.log_path.open("a", encoding="utf-8") as file:
            file.write(json.dumps(asdict(event)) + "\n")

    def on_llm_end(self, response: LLMResult, **kwargs: Any) -> Any:
        """Run when LLM ends running."""
        generation = response.generations[-1][-1].message.content
        event = Event(event="llm_end", timestamp=_current_time(), text=generation)
        with self.log_path.open("a", encoding="utf-8") as file:
            file.write(json.dumps(asdict(event)) + "\n")

In [47]:
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0.0)

In [48]:
@tool("list_tables")
def list_tables() -> str:
    """List the available tables in the database"""
    return ListSQLDatabaseTool(db=db).invoke("")

In [49]:
list_tables.run()

Using Tool: list_tables

'ce_dlb_new, ce_sales_new, mx_dlb_new, mx_sales_new'

In [50]:
@tool("tables_schema")
def tables_schema(tables: str) -> str:
    """
    Input is a comma-separated list of tables, output is the schema and sample rows
    for those tables. Be sure that the tables actually exist by calling `list_tables` first!
    Example Input: table1, table2, table3, table4
    """
    tool = InfoSQLDatabaseTool(db=db)
    return tool.invoke(tables)

In [51]:
@tool("execute_sql")
def execute_sql(sql_query: str) -> str:
    """Execute a SQL query against the database. Returns the result"""
    return QuerySQLDataBaseTool(db=db).invoke(sql_query)

In [52]:
@tool("check_sql")
def check_sql(sql_query: str) -> str:
    """
    Use this tool to double check if your query is correct before executing it. Always use this
    tool before executing a query with `execute_sql`.
    """
    return QuerySQLCheckerTool(db=db, llm=llm).invoke({"query": sql_query})

In [53]:
# sql_dev = Agent(
#     role="Precision SQL Analyst",
#     goal="Construct and execute highly accurate SQL queries, with a focus on flexible pattern matching for product models",
#     backstory=
#     """
#     You are an expert SQL Analyst known for your precision and adaptability, especially when dealing with product data across various industries. Your specialty lies in constructing queries that accurately capture all relevant data, particularly when dealing with product models that may have variations in naming conventions.
    
#     Core Competencies:
#     1. Expert Use of LIKE Operator: You excel in using the LIKE operator with wildcards to ensure comprehensive and accurate results when querying for specific product models. This skill is crucial for handling variations in model names, such as different storage capacities or color variants.
#     2. Rapid Schema Analysis: Quickly understand database structures using `list_tables` and `tables_schema`, identifying key columns for product models, sales data, and dates.
#     3. Dynamic Query Construction: Build SQL queries on-the-fly, adapting to user requirements and dataset peculiarities. You're adept at incorporating LIKE patterns for flexible model name matching.
#     4. Advanced Data Manipulation: Proficient in complex joins, subqueries, and aggregations, always considering how to best use LIKE for accurate product identification.
#     5. Query Optimization: Fine-tune queries for optimal performance, balancing the flexibility of LIKE statements with query efficiency.
#     6. Data Quality Assurance: Implement checks to handle inconsistencies in product naming conventions, ensuring all relevant data is captured.
    
#     Approach to Queries:
#     1. Requirement Analysis: Carefully interpret user requests, paying special attention to product model specifications and potential variations.
#     2. Schema Exploration: Use `list_tables` and `tables_schema` to identify relevant tables and columns, focusing on those containing product model information.
#     3. Query Design: Construct SQL queries with strategic use of LIKE operators. For example, use 'LIKE '%S23 Ultra%'' instead of exact matching to capture all relevant product variations.
#     4. Validation: Use the `check_sql` tool to verify query syntax and logic, ensuring LIKE statements are correctly formulated.
#     5. Execution and Review: Run the query with `execute_sql` and critically evaluate the results, checking if all expected product variants are included.
#     6. Iterative Refinement: Be prepared to adjust LIKE patterns based on initial results or additional user input, ensuring comprehensive data capture.
    
#     You excel at translating requests into precise SQL queries that don't miss any relevant data due to minor variations in product names or models. Your goal is to provide accurate, complete results that account for real-world complexities in product data.
#     Always remember:
#     1. Use LIKE with appropriate wildcards (%) for flexible model matching.
#     2. Consider common variations in model names (e.g., storage sizes, colors) when constructing LIKE patterns.
#     3. Validate results to ensure all relevant product data is captured.
#     4. Be prepared to refine LIKE patterns if initial results are incomplete.

#     Important: You are specifically programmed to only respond to greetings and questions related to Samsung's sales and market share data. If a query is not related to these topics, politely inform the user that you can only assist with Samsung sales and market share information, and ask them to rephrase their question accordingly. Do not attempt to answer questions outside of this scope.
#     You always display results in Indian currency units (Lakhs and Crores) for monetary values and in Thousands (K) for volume metrics.
    
#     """,

#     tools=[list_tables, tables_schema, execute_sql, check_sql],
#     allow_delegation=True,

    

    
# )

In [54]:
sql_dev = Agent(
    role="Precision SQL Analyst",
    goal="Construct and execute highly accurate SQL queries, with a focus on flexible pattern matching for product models",
    backstory=
    """
    You are an expert SQL Analyst known for your precision and adaptability, especially when dealing with product data across various industries. Your specialty lies in constructing queries that accurately capture all relevant data, particularly when dealing with product models that may have variations in naming conventions.

    Core Competencies:
    1. Expert Use of LIKE Operator: Excel in using LIKE with wildcards for comprehensive and accurate results, crucial for handling variations in model names.
    2. Rapid Schema Analysis: Quickly understand database structures using list_tables and tables_schema, identifying key columns for product models, sales data, and dates.
    3. Dynamic Query Construction: Build SQL queries on-the-fly, adapting to user requirements and dataset peculiarities, incorporating LIKE patterns for flexible model name matching.
    4. Advanced Data Manipulation: Proficient in complex joins, subqueries, and aggregations, always considering how to best use LIKE for accurate product identification.
    5. Query Optimization: Fine-tune queries for optimal performance, balancing LIKE statements' flexibility with query efficiency.
    6. Data Quality Assurance: Implement checks to handle inconsistencies in product naming conventions, ensuring all relevant data is captured.

    Approach to Queries:
    1. Requirement Analysis: Interpret user requests, focusing on product model specifications and potential variations.
    2. Schema Exploration: Use list_tables and tables_schema to identify relevant tables and columns, especially those with product model information.
    3. Query Design: Construct SQL queries with strategic use of LIKE operators (e.g., 'LIKE '%S23 Ultra%'' instead of exact matching).
    4. Validation: Use check_sql to verify query syntax and logic, ensuring correct LIKE statement formulation.
    5. Execution and Review: Run queries with execute_sql, evaluating results to check if all expected product variants are included.
    6. Iterative Refinement: Adjust LIKE patterns based on initial results or additional user input for comprehensive data capture.
    
    Additional Improvements:
    - **Clarify Variations in Model Names**: When using LIKE, always account for variations (e.g., different storage options, colors, minor model distinctions) and ensure they are captured accurately.
    - **Handle Missing Data**: If certain records or columns are not found, return a clear message indicating the issue (e.g., "No data found for this model in the specified period") instead of running a query that returns null or incorrect data.
    
    Important Columns in the Database:

    1. mx_dlb_new (Mobile Devices Market Share)
        - year_market_share: Year for market share data.
        - region: Geographical region (e.g., EAST, WEST).
        - competitor: Brand or competitor name (e.g., Samsung, Apple).
        - week_year: Specific week of the year.
        - month_market_share: Month of the market share data.
        - priceband: Price range of products (e.g., "30K - 40K").
        - salestype: Type of sales (e.g., Sales, Sellout).
        - channel: Sales channel (e.g., GT for General Trade).
        - model: Product model (e.g., WATCH4 44MM_LTE).
        - Product_Group: Type of product (e.g., Wearable, Smart Phone).
        - sellout_value: Total value of products sold.
        - sellout_volume: Units sold.

    2. mx_sales_new (Mobile Devices Sales Data)
        - salestype: Type of sales (e.g., Sell Out).
        - salescategory: Sales category (e.g., Normal, Promotional).
        - channel: Sales channel (e.g., B2B).
        - priceband: Price range of product sold.
        - region: Geographical region.
        - year, month, day: Date-related columns.
        - date: Exact transaction date.
        - weekyear: Week and year of sales.
        - segment: Product segment (e.g., Smart Phone, Wearable).
        - model: Product model.
        - quantity: Number of units sold.
        - amount: Total sales amount.

    3. ce_sales_new (Consumer Electronics Sales Data)
        - year_sale: Year of sale.
        - month_sale: Month of sale.
        - Sales Type: Type of sale (e.g., Sell Out).
        - salestype: (e.g., Union)
        - p0: Broad product category (e.g., DA for Digital Appliances, VD).
        - P1: Product type within the broad category (e.g., AC for Air Conditioners, UNMAP).
        - p2: Product variant or subtype (e.g., AIRPURIFIER, PANEL, DW etc.,).
        - p3: Specific model or further product classification (e.g., AIRPURI for specific air purifiers, DISHWASHER).
        - week_year_sale: Week and year of sale.
        - date_sale: Date of sale.
        - channel: Sales channel (e.g., MT for Modern Trade).
        - region: Geographical region.
        - quantity: Number of units sold.
        - amount: Total sales amount.

    4. ce_dlb_new (Consumer Electronics Market Share Data)
        - year_market_share: Year of market share data.
        - month_market_share: Month of market share data.
        - week_year: Week and year of market share data.
        - market_share_date: Date of market share data collection.
        - region: Geographical region.
        - channel: Sales channel (e.g., DD, MR).
        - competitor: Competitor brand.
        - p0: Broad product category (e.g., DA for Digital Appliances, VD).
        - p1: Product type within the broad category (e.g., AC for Air Conditioners, UNMAP).
        - p2: Product variant or subtype  (e.g., AC, SOUNDBAR, DISHWASHER).
        - p3: Specific model or further product classification.
        - sellout_volume: Units sold.
        - sellout_value: Total sales amount.

    Key Reminders:
    1. Use LIKE with appropriate wildcards (%) for flexible model matching.
    2. Consider common variations in model names (e.g., storage sizes, colors) when constructing LIKE patterns.
    3. When handling price band queries:
       - For exact price band matches, use the specific category (e.g., '10 K-15 K').
       - For price ranges spanning multiple categories:
         - Use OR conditions to include all relevant price bands.
         - Example: For "10K - 20K", include both '10 K-15 K' AND '15 K-20 K'.
    4. Validate results to ensure all relevant product data and price ranges are captured.
    5. Be prepared to refine LIKE patterns and price band logic if initial results are incomplete.

    Scope and Data Presentation:
    - Only respond to greetings and questions related to Samsung's sales and market share data.
    - Politely redirect off-topic queries, asking users to rephrase questions accordingly.
    - Display results in Indian currency units (Lakhs and Crores) for monetary values and in Thousands (K) for volume metrics.

    Database Structure:
    Four main tables: 'ce_dlb_new', 'ce_sales_new', 'mx_dlb_new', 'mx_sales_new' (covering consumer electronics and mobile devices for market share and sales data).

    Query Types:
    1. Sales Data: Use 'ce_sales_new' or 'mx_sales_new' with flexible model matching.
    2. Market Share Data: Use 'ce_dlb_new' or 'mx_dlb_new' for regional analysis.
    3. Date Ranges: Handle year, month, and week filters.
    4. Regional Filters: Filter by geographical regions (e.g., EAST, WEST, NORTH 2).
    5. Model Variations: Use LIKE for variations such as storage sizes and colors.

    Additional Information:
    - Apple 15 launch date: September 22, 2023 (relevant for market trend analysis).

    When constructing queries:
    - Always consider which join type is most appropriate for the specific analysis.
    - Use table aliases for clarity in complex joins (e.g., 'ce' for ce_sales_new).
    - Ensure join conditions accurately reflect the relationships between tables.
    - Use appropriate date functions (e.g., EXTRACT, DATE_TRUNC) for date-based analysis.
    - Implement proper grouping and aggregation for summary statistics.
    - Consider using CTEs for complex queries to improve readability and maintainability.
    """,

    tools=[list_tables, tables_schema, execute_sql, check_sql],
    allow_delegation=True,
    llm=llm,
)

In [55]:
# data_analyst = Agent(
#     role="Senior Data Analyst",
#     goal="You receive data from the database developer and analyze it",
#     backstory=dedent(
#         """
#         You have deep experience with analyzing datasets using Python.
#         Your work is always based on the provided data and is clear,
#         easy-to-understand and to the point. You have attention
#         to detail and always produce very detailed work (as long as you need).
#     """
#     ),
#     llm=llm,
#     allow_delegation=False,
# )

In [56]:

# report_writer = Agent(
#     role="Senior Report Editor",
#     goal="Write an executive summary type of report based on the work of the analyst",
#     backstory=dedent(
#         """
#         Your writing still is well known for clear and effective communication.
#         You always summarize long texts into bullet points that contain the most
#         important details.
#         """
#     ),
#     llm=llm,
#     allow_delegation=False,
# )

In [57]:
#Task
extract_data = Task(
    description="Extract data that is required for the query {query}.",
    expected_output="Database result for the query",
    agent=sql_dev,
)

In [58]:
# analyze_data = Task(
#     description="Analyze the data from the database and write an analysis for {query}.",
#     expected_output="Detailed analysis text",
#     agent=data_analyst,
#     context=[extract_data],
# )

In [59]:
# write_report = Task(
#     description=dedent(
#         """
#         Write an executive summary of the report from the analysis. The report
#         must be less than 100 words.
#     """
#     ),
#     expected_output="Markdown report",
#     agent=report_writer,
#     context=[analyze_data],
# )

In [60]:
crew = Crew(
    agents=[sql_dev],
    tasks=[extract_data],
    process=Process.sequential,
    verbose=1,
    memory=False,
    max_rpm=None,
    max_iter=25,
    output_log_file="crew.log",
)

2024-10-17 15:11:37,017 - 11708 - __init__.py-__init__:538 - WARNING: Overriding of current TracerProvider is not allowed

In [61]:
result = crew.kickoff(inputs={"query": "total sales for each galaxy models in 2023"})

# Agent: Precision SQL Analyst
## Task: Extract data that is required for the query total sales for each galaxy models in 2023.


# Agent: Precision SQL Analyst
## Thought: I need to extract data for total sales of each Galaxy model in 2023. First, I will check the available tables to identify where the sales data is stored.
## Using tool: list_tables
## Tool Input:
"{}"
## Tool Output:
ce_dlb_new, ce_sales_new, mx_dlb_new, mx_sales_new


# Agent: Precision SQL Analyst
## Thought: Thought: I have identified the available tables. Since I need to extract sales data for Galaxy models, I will check the schema of the `mx_sales_new` table, as it is likely to contain mobile device sales data.
## Using tool: tables_schema
## Tool Input:
"{\"tables\": \"mx_sales_new\"}"
## Tool Output:

CREATE TABLE mx_sales_new (
	salestype VARCHAR(50),
	salescategory VARCHAR(50),
	channel VARCHAR(50),
	priceband VARCHAR(50),
	region VARCHAR(50),
	year INTEGER,
	month INTEGER,
	day INTEGER,
	date VARCHAR(50),
	weekyear VARCHAR(50),
	segment VARCHAR(50),
	model VARCHAR(50),
	quantity INTEGER,
	amount DOUBLE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from mx_sales_new table:
salestype	salescategory	channel	priceband	region	year	month	day	date	weekyear	segment	model	quantity	amount
Sell Out	Normal	B2B	< 6 K	B2b	2024	2	7	2024-02-07	24.06W	Smart Phone	A2 CORE	4	20744.0000000000
Sell Out	Normal	B2B	< 6 K	B2b	2024	2	16	2024-02-16	24.07W	Smart Phone	A2 CORE	8	165952.0000000000
Sell Out	Normal	B2B	< 6 K	B2b	2024	2	22	2024-02-22	24.08W	Smart Phone	A2 CORE	13	269672.0000000000
*/


# Agent: Precision SQL Analyst
## Thought: Thought: The `mx_sales_new` table contains the necessary columns for extracting sales data, including the `model`, `year`, `quantity`, and `amount`. I will construct a SQL query to get the total sales for each Galaxy model in 2023, using the LIKE operator to capture any variations in the model names.
## Using tool: check_sql
## Tool Input:
"{\"sql_query\": \"SELECT model, SUM(quantity) AS total_quantity, SUM(amount) AS total_amount FROM mx_sales_new WHERE model LIKE '%Galaxy%' AND year = 2023 GROUP BY model\"}"
## Tool Output:
```sql
SELECT model, SUM(quantity) AS total_quantity, SUM(amount) AS total_amount
FROM mx_sales_new
WHERE model LIKE '%Galaxy%' AND year = 2023
GROUP BY model
```


You ONLY have access to the following tools, and should NEVER make up tools that are not listed here:

Tool Name: list_tables(*args: Any, **kwargs: Any) -> Any
Tool Description: list_tables() - List the available tables in the database
Tool Arguments: {}
Tool Name: tables_schema(*args: Any, **kwargs: Any) -> Any
Tool Description: tables_schema(tables: 'string') -      Input is a comma-separated list of tables, output is the schema and sample rows     for those tables. Be sure that the tables actually exist by calling `list_tables` first!     Example Input: table1, table2, table3, table4
Tool Arguments: {'tables': {'title': 'Tables', 'type': 'string'}}
Tool Name: execute_sql(*args: Any, **kwargs: Any) -> Any
Tool Description: execute_sql(sql_query: 'string') - Execute a SQL query against the database. Returns the result
Tool Arguments: {'sql_query': {'title': 'Sql Query', 'type': 'string'}}
Tool Name: check_sql(*args: Any, **kwargs: Any) -> Any
Tool Description: check_sql(sql_query: 'string') -      Use this tool to double check if your query is correct before executing it. Always use this     tool before executing a query with `execute_sql`.
Tool Arguments: {'sql_query': {'title': 'Sql Query', 'type': 'string'}}

Use the following format:

Thought: you should always think about what to do
Action: the action to take, only one name of [list_tables, tables_schema, execute_sql, check_sql], just the name, exactly as it's written.
Action Input: the input to the action, just a simple python dictionary, enclosed in curly braces, using " to wrap keys and values.
Observation: the result of the action

Once all necessary information is gathered:

Thought: I now know the final answer
Final Answer: the final answer to the original input question



# Agent: Precision SQL Analyst
## Using tool: execute_sql
## Tool Input:
"{\"sql_query\": \"SELECT model, SUM(quantity) AS total_quantity, SUM(amount) AS total_amount FROM mx_sales_new WHERE model LIKE '%Galaxy%' AND year = 2023 GROUP BY model\"}"
## Tool Output:
[('GALAXY M01 CORE (1/16GB)', Decimal('6155'), 76884620.0), ('GALAXY Z FLIP', Decimal('275'), 73683324.0), ('GALAXY M01 (3/32GB)', Decimal('6929'), 131674941.0), ('GALAXY TAB A 7.0', Decimal('863'), 21609489.0), ('GALAXY M11 (3/32GB)', Decimal('8548'), 216368361.0), ('GALAXY A31 (6/128GB)', Decimal('1951'), 75159216.0), ('GALAXY A71 (8/128GB)', Decimal('864'), 57053626.0), ('GALAXY M01 CORE (2/32GB)', Decimal('6957'), 105588399.0), ('GALAXY FIT LITE', Decimal('8411'), 51184440.0), ('GALAXY FIT2', Decimal('1175'), 11334393.0), ('GALAXY STAR', Decimal('40'), 520410.0), ('GALAXY BOOK2', Decimal('12426'), 2269363357.0211906), ('GALAXY BOOK2 PRO 360', Decimal('4732'), 1469864366.9682999), ('GALAXY Z FOLD 3 (256 GB)', Decimal('9517'), 3535746270.0), ('GALAXY Z FOLD 3 (512 GB)', Decimal('4931'), 1898902905.0), ('GALAXY Z FOLD2 5G', Decimal('679'), 228066298.0), ('GALAXY S20 FE (8/128GB)', Decimal('1858'), 240395192.0), ('GALAXY S20 ULTRA (12/128GB)', Decimal('408'), 94806688.0), ('GALAXY BOOK2 360', Decimal('2510'), 641508923.6364), ('GALAXY BOOK2 PRO', Decimal('3145'), 911188881.0548), ('GALAXY S20 FE (8/256GB)', Decimal('57'), 7235866.0), ('GALAXY NOTE 20', Decimal('730'), 116051033.0), ('GALAXY S10 LITE (8/512 GB)', Decimal('186'), 21315915.0), ('GALAXY FOLD', Decimal('51'), 23804209.0), ('GALAXY S10 LITE (8/128 GB)', Decimal('190'), 22344455.0), ('GALAXY S20+ BTS EDITION', Decimal('806'), 154959077.0), ('GALAXY NOTE 20 ULTRA', Decimal('213'), 55119470.0), ('GALAXY BOOK3 PRO 360', Decimal('6528'), 2745326453.3336005), ('GALAXY NOTE EDGE', Decimal('32'), 3807096.0), ('GALAXY BOOK3 PRO', Decimal('3391'), 1216875480.0007002), ('GALAXY BOOK3 360', Decimal('9396'), 2896385987.9265003), ('GALAXY BOOK3', Decimal('9768'), 2033696836.4981096), ('GALAXY NOTE5 DUAL SIM', Decimal('14'), 1898330.0), ('GALAXY BOOK3 ULTRA', Decimal('407'), 286783830.0), ('GALAXY ACE NXT', Decimal('153'), 2632630.0), ('GALAXY M01S (3/32GB)', Decimal('4489'), 103434506.0), ('GALAXY M02S (3/32GB)', Decimal('8113'), 192506734.0), ('GALAXY GRAND NEO PLUS', Decimal('159'), 3362560.0), ('GALAXY-J2', Decimal('1185'), 21006700.0), ('GALAXY FIT', Decimal('588'), 11936940.0), ('GALAXY-J1X', Decimal('213'), 3977932.0), ('GALAXY CORE 2', Decimal('373'), 7354412.0), ('GALAXY S DUOS 3', Decimal('61'), 914526.0), ('GALAXY TREND', Decimal('19'), 502857.0), ('GALAXY-GRAND-PRIME-PLUS', Decimal('84'), 1602612.0), ('GALAXY A3', Decimal('257'), 6493925.0), ('GALAXY A21S (4/64GB)', Decimal('2989'), 105763806.0), ('GALAXY A21S (6/64GB)', Decimal('2860'), 102906649.0), ('GALAXY F12 (4/64GB)', Decimal('7024'), 201542973.0), ('GALAXY F12 (4/128GB)', Decimal('1933'), 57370410.0), ('GALAXY M02S (4/64GB)', Decimal('2077'), 54941267.0), ('GALAXY M11 (4/64GB)', Decimal('4721'), 130965093.0), ('GALAXY M12 (4/64GB)', Decimal('7686'), 224816949.0), ('GALAXY M12 (6/128GB)', Decimal('6631'), 228781052.0), ('GALAXY J5 PRIME', Decimal('256'), 8090425.0), ('GALAXY M21 (4/64GB)', Decimal('493'), 16836153.0), ('GALAXY-J7 2016', Decimal('269'), 8880235.0), ('GALAXY WATCH3_41MM_BT', Decimal('3073'), 111719200.0), ('GALAXY-A5X', Decimal('87'), 3186730.0), ('GALAXY J7 PRIME', Decimal('167'), 4120704.0), ('GALAXY J MAX', Decimal('446'), 14352225.0), ('GALAXY M21 (6/128GB)', Decimal('255'), 9772326.0), ('GALAXY M30S (4/64GB)', Decimal('290'), 11858196.0), ('GALAXY-J7-MAX', Decimal('428'), 16536485.0), ('GALAXY A21S (6/128GB)', Decimal('1069'), 44103444.0), ('GALAXY M30S (4/128GB)', Decimal('1199'), 48341377.0), ('GALAXY M31 (6/64GB)', Decimal('494'), 22302606.0), ('GALAXY M31 (8/128GB)', Decimal('423'), 19625967.0), ('GALAXY-A7X', Decimal('174'), 8891827.0), ('GALAXY M31 (6/128GB)', Decimal('67'), 2705836.0), ('GALAXY TAB E', Decimal('255'), 10431500.0), ('GALAXY E5', Decimal('308'), 12165950.0), ('GALAXY WATCH3_41MM_LTE', Decimal('584'), 29056025.0), ('GALAXY M30S (6/128GB)', Decimal('301'), 13113968.0), ('GALAXY F41 (6/128GB)', Decimal('441'), 18825359.0), ('GALAXY WATCH ACTIVE', Decimal('449'), 19684900.0), ('GALAXY F41 (6/64GB)', Decimal('457'), 18910818.0), ('GALAXY E7', Decimal('23'), 1466560.0), ('GALAXY-C7-PRO', Decimal('353'), 18421248.0), ('GALAXY A51 (6/128GB)', Decimal('1364'), 69143985.0), ('GALAXY M51 (8/128GB)', Decimal('448'), 27798888.0), ('GALAXY WATCH3_45MM_LTE', Decimal('1228'), 64408710.0), ('GALAXY A7', Decimal('62'), 3391080.0), ('GALAXY M31S (8/128GB)', Decimal('106'), 5288742.0), ('GALAXY M51 (6/128GB)', Decimal('361'), 21044085.0), ('GALAXY A51 (8/128GB)', Decimal('490'), 26038048.0), ('GALAXY-A5-2017', Decimal('15'), 585600.0), ('GALAXY-A7-2017', Decimal('60'), 4000443.0), ('GALAXY-A9-PRO (2016)', Decimal('40'), 3474288.0), ('GALAXY BOOK GO', Decimal('7694'), 720106310.0), ('GALAXY-A8-STAR', Decimal('251'), 22959090.0), ('GALAXY S5', Decimal('66'), 6214130.0), ('GALAXY TAB S2', Decimal('28'), 2040500.0), ('GALAXY-TAB-S2-L', Decimal('65'), 6275500.0), ('GALAXY-A8+ (2018)', Decimal('302'), 25532300.0), ('GALAXY C9 PRO', Decimal('220'), 17922224.0), ('GALAXY MEGA 6.3', Decimal('22'), 2147970.0), ('GALAXY A8', Decimal('53'), 4132310.0), ('GALAXY S20 (8/128GB)', Decimal('146'), 27758510.0), ('GALAXY WATCH3_45MM_BT', Decimal('3756'), 300514060.0), ('GALAXY-ON7 PRO', Decimal('299'), 4926516.0), ('GALAXY J3', Decimal('64'), 950482.0), ('GALAXY J3 16 GB', Decimal('266'), 4353261.0), ('GALAXY-ON5 PRO', Decimal('111'), 1648098.0), ('GALAXY-ON-MAX', Decimal('364'), 13540611.0), ('GALAXY ON8', Decimal('119'), 2968050.0), ('GALAXY-J5X', Decimal('179'), 5230452.0), ('GALAXY M31S (6/128GB)', Decimal('15'), 813956.0), ('GALAXY S7 EDGE 128 GB', Decimal('14'), 559020.0), ('GALAXY A5', Decimal('39'), 1264748.0), ('GALAXY ALPHA', Decimal('44'), 4754144.0), ('GALAXY-TAB-ACTIVE2', Decimal('7'), 679000.0)]


# Agent: Precision SQL Analyst
## Final Answer:
```
| Model                                   | Total Quantity | Total Amount      |
|-----------------------------------------|----------------|-------------------|
| GALAXY M01 CORE (1/16GB)               | 6155           | 76884620.0        |
| GALAXY Z FLIP                           | 275            | 73683324.0        |
| GALAXY M01 (3/32GB)                    | 6929           | 131674941.0       |
| GALAXY TAB A 7.0                        | 863            | 21609489.0        |
| GALAXY M11 (3/32GB)                    | 8548           | 216368361.0       |
| GALAXY A31 (6/128GB)                   | 1951           | 75159216.0        |
| GALAXY A71 (8/128GB)                   | 864            | 57053626.0        |
| GALAXY M01 CORE (2/32GB)               | 6957           | 105588399.0       |
| GALAXY FIT LITE                         | 8411           | 51184440.0        |
| GALAXY FIT2                             | 1175           | 11334393.0        |
| GALAXY STAR                             | 40             | 520410.0          |
| GALAXY BOOK2                            | 12426          | 2269363357.0211906|
| GALAXY BOOK2 PRO 360                    | 4732           | 1469864366.9682999|
| GALAXY Z FOLD 3 (256 GB)               | 9517           | 3535746270.0      |
| GALAXY Z FOLD 3 (512 GB)               | 4931           | 1898902905.0      |
| GALAXY Z FOLD2 5G                       | 679            | 228066298.0       |
| GALAXY S20 FE (8/128GB)                | 1858           | 240395192.0       |
| GALAXY S20 ULTRA (12/128GB)            | 408            | 94806688.0        |
| GALAXY BOOK2 360                        | 2510           | 641508923.6364    |
| GALAXY BOOK2 PRO                        | 3145           | 911188881.0548    |
| GALAXY S20 FE (8/256GB)                | 57             | 7235866.0         |
| GALAXY NOTE 20                          | 730            | 116051033.0       |
| GALAXY S10 LITE (8/512 GB)             | 186            | 21315915.0        |
| GALAXY FOLD                             | 51             | 23804209.0        |
| GALAXY S10 LITE (8/128 GB)             | 190            | 22344455.0        |
| GALAXY S20+ BTS EDITION                | 806            | 154959077.0       |
| GALAXY NOTE 20 ULTRA                    | 213            | 55119470.0        |
| GALAXY BOOK3 PRO 360                    | 6528           | 2745326453.3336005|
| GALAXY NOTE EDGE                        | 32             | 3807096.0         |
| GALAXY BOOK3 PRO                        | 3391           | 1216875480.0007002|
| GALAXY BOOK3 360                        | 9396           | 2896385987.9265003|
| GALAXY BOOK3                            | 9768           | 2033696836.4981096|
| GALAXY NOTE5 DUAL SIM                  | 14             | 1898330.0         |
| GALAXY BOOK3 ULTRA                      | 407            | 286783830.0       |
| GALAXY ACE NXT                         | 153            | 2632630.0         |
| GALAXY M01S (3/32GB)                   | 4489           | 103434506.0       |
| GALAXY M02S (3/32GB)                   | 8113           | 192506734.0       |
| GALAXY GRAND NEO PLUS                  | 159            | 3362560.0         |
| GALAXY-J2                               | 1185           | 21006700.0        |
| GALAXY FIT                              | 588            | 11936940.0        |
| GALAXY-J1X                              | 213            | 3977932.0         |
| GALAXY CORE 2                           | 373            | 7354412.0         |
| GALAXY S DUOS 3                         | 61             | 914526.0          |
| GALAXY TREND                            | 19             | 502857.0          |
| GALAXY-GRAND-PRIME-PLUS                | 84             | 1602612.0         |
| GALAXY A3                               | 257            | 6493925.0         |
| GALAXY A21S (4/64GB)                   | 2989           | 105763806.0       |
| GALAXY A21S (6/64GB)                   | 2860           | 102906649.0       |
| GALAXY F12 (4/64GB)                    | 7024           | 201542973.0       |
| GALAXY F12 (4/128GB)                   | 1933           | 57370410.0        |
| GALAXY M02S (4/64GB)                   | 2077           | 54941267.0        |
| GALAXY M11 (4/64GB)                    | 4721           | 130965093.0       |
| GALAXY M12 (4/64GB)                    | 7686           | 224816949.0       |
| GALAXY M12 (6/128GB)                   | 6631           | 228781052.0       |
| GALAXY J5 PRIME                         | 256            | 8090425.0         |
| GALAXY M21 (4/64GB)                    | 493            | 16836153.0        |
| GALAXY-J7 2016                          | 269            | 8880235.0         |
| GALAXY WATCH3_41MM_BT                  | 3073           | 111719200.0       |
| GALAXY-A5X                              | 87             | 3186730.0         |
| GALAXY J7 PRIME                         | 167            | 4120704.0         |
| GALAXY J MAX                            | 446            | 14352225.0       |
| GALAXY M21 (6/128GB)                   | 255            | 9772326.0         |
| GALAXY M30S (4/64GB)                   | 290            | 11858196.0       |
| GALAXY-J7-MAX                           | 428            | 16536485.0       |
| GALAXY A21S (6/128GB)                  | 1069           | 44103444.0       |
| GALAXY M30S (4/128GB)                  | 1199           | 48341377.0       |
| GALAXY M31 (6/64GB)                    | 494            | 22302606.0       |
| GALAXY M31 (8/128GB)                   | 423            | 19625967.0       |
| GALAXY-A7X                              | 174            | 8891827.0         |
| GALAXY M31 (6/128GB)                   | 67             | 2705836.0         |
| GALAXY TAB E                            | 255            | 10431500.0       |
| GALAXY E5                               | 308            | 12165950.0       |
| GALAXY WATCH3_41MM_LTE                 | 584            | 29056025.0       |
| GALAXY M30S (6/128GB)                  | 301            | 13113968.0       |
| GALAXY F41 (6/128GB)                   | 441            | 18825359.0       |
| GALAXY WATCH ACTIVE                     | 449            | 19684900.0       |
| GALAXY F41 (6/64GB)                    | 457            | 18910818.0       |
| GALAXY E7                               | 23             | 1466560.0         |
| GALAXY-C7-PRO                           | 353            | 18421248.0       |
| GALAXY A51 (6/128GB)                   | 1364           | 69143985.0        |
| GALAXY M51 (8/128GB)                   | 448            | 27798888.0        |
| GALAXY WATCH3_45MM_LTE                 | 1228           | 64408710.0        |
| GALAXY A7                               | 62             | 3391080.0         |
| GALAXY M31S (8/128GB)                  | 106            | 5288742.0         |
| GALAXY M51 (6/128GB)                   | 361            | 21044085.0        |
| GALAXY A51 (8/128GB)                   | 490            | 26038048.0        |
| GALAXY-A5-2017                          | 15             | 585600.0          |
| GALAXY-A7-2017                          | 60             | 4000443.0        |
| GALAXY-A9-PRO (2016)                   | 40             | 3474288.0         |
| GALAXY BOOK GO                          | 7694           | 720106310.0       |
| GALAXY-A8-STAR                          | 251            | 22959090.0        |
| GALAXY S5                               | 66             | 6214130.0         |
| GALAXY TAB S2                           | 28             | 2040500.0         |
| GALAXY-TAB-S2-L                         | 65             | 6275500.0         |
| GALAXY-A8+ (2018)                      | 302            | 25532300.0        |
| GALAXY C9 PRO                           | 220            | 17922224.0       |
| GALAXY MEGA 6.3                         | 22             | 2147970.0         |
| GALAXY A8                               | 53             | 4132310.0         |
| GALAXY S20 (8/128GB)                   | 146            | 27758510.0       |
| GALAXY WATCH3_45MM_BT                  | 3756           | 300514060.0       |
| GALAXY-ON7 PRO                          | 299            | 4926516.0         |
| GALAXY J3                               | 64             | 950482.0          |
| GALAXY J3 16 GB                         | 266            | 4353261.0         |
| GALAXY-ON5 PRO                          | 111            | 1648098.0         |
| GALAXY-ON-MAX                           | 364            | 13540611.0        |
| GALAXY ON8                              | 119            | 2968050.0         |
| GALAXY-J5X                              | 179            | 5230452.0         |
| GALAXY M31S (6/128GB)                  | 15             | 813956.0          |
| GALAXY S7 EDGE 128 GB                  | 14             | 559020.0          |
| GALAXY A5                               | 39             | 1264748.0         |
| GALAXY ALPHA                            | 44             | 4754144.0         |
| GALAXY-TAB-ACTIVE2                     | 7              | 679000.0          |
```

In [ ]:
# import os
# import io
# import pandas as pd
# from openai import OpenAI

# # Set the OpenAI API key (replace with your actual key, which should be handled securely)
# user_api_key = ''
# os.environ["OPENAI_API_KEY"] = user_api_key

# # Initialize the OpenAI client
# client = OpenAI()

# def process_data(result):
#     prompt = f"""
#     Analyze the following data and convert it to CSV format:
#     {result}
#     Return ONLY the CSV data without any additional text or explanation.
#     Ensure that all numeric values are maintained in their correct format.
#     """
#     response = client.chat.completions.create(
#         model="gpt-3.5-turbo",
#         messages=[
#             {"role": "system", "content": "You are a helpful assistant that converts data to CSV format."},
#             {"role": "user", "content": prompt}
#         ],
#         temperature=0.0
#     )
#     return response.choices[0].message.content.strip()

# def handle_output(output, filename='output.csv'):
#     # Check if the output looks like CSV
#     if ',' in output and '\n' in output:
#         try:
#             # Attempt to convert to DataFrame
#             df = pd.read_csv(io.StringIO(output))
#             pd.set_option('display.max_rows', None)
#             pd.set_option('display.max_columns', None)
#             pd.set_option('display.width', None)
#             pd.set_option('display.max_colwidth', None)
#             print("Output converted to DataFrame:")
#             print(df)
            
#             # Save the DataFrame to a CSV file
#             df.to_csv(filename, index=False)
#             print(f"CSV file saved as {filename}")
            
#             return df
#         except Exception as e:
#             print(f"Error converting to DataFrame: {e}")
#             print("Returning output as is:")
#             return output
#     else:
#         print("Output is not in CSV format. Returning as is:")
#         return output

# # Example usage
# final_result = process_data(result)
# final_output = handle_output(final_result)
# print(final_output)

In [ ]:
import os
import io
import pandas as pd
from openai import OpenAI

# Set the OpenAI API key (replace with your actual key, which should be handled securely)
user_api_key = ''
os.environ["OPENAI_API_KEY"] = user_api_key

# Initialize the OpenAI client
client = OpenAI()

def process_data_to_csv(result):
    prompt = f"""
    Analyze the following data and convert it to CSV format:
    {result}
    Return ONLY the CSV data without any additional text or explanation.
    Ensure that all numeric values are maintained in their correct format.
    """
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": "You are a helpful assistant that converts data to CSV format."},
            {"role": "user", "content": prompt}
        ],
        temperature=0.0
    )
    return response.choices[0].message.content.strip()

def extract_business_insights(data):
    prompt = f"""
    Based on the following CSV data, extract meaningful business insights. 
    Highlight trends, potential opportunities, and any notable patterns.
    {data}
    Provide your insights in bullet points format.
    """
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": "You are an expert data analyst who provides business insights."},
            {"role": "user", "content": prompt}
        ],
        temperature=0.0
    )
    return response.choices[0].message.content.strip()

def handle_output(output, filename='output.csv'):
    # Check if the output looks like CSV
    if ',' in output and '\n' in output:
        try:
            # Attempt to convert to DataFrame
            df = pd.read_csv(io.StringIO(output))
            pd.set_option('display.max_rows', None)
            pd.set_option('display.max_columns', None)
            pd.set_option('display.width', None)
            pd.set_option('display.max_colwidth', None)
            print("Output converted to DataFrame:")
            print(df)
            
            # Save the DataFrame to a CSV file
            df.to_csv(filename, index=False)
            print(f"CSV file saved as {filename}")
            
            return df
        except Exception as e:
            print(f"Error converting to DataFrame: {e}")
            print("Returning output as is:")
            return output
    else:
        print("Output is not in CSV format. Returning as is:")
        return output

# Example usage
final_result = process_data_to_csv(result)
final_output = handle_output(final_result)

# If the output is successfully converted to CSV, extract business insights
if isinstance(final_output, pd.DataFrame):
    insights = extract_business_insights(final_output.to_csv(index=False))
    print("\nBusiness Insights:")
    print(insights)
else:
    print("Error in generating business insights due to non-CSV output.")

Output converted to DataFrame:
                           Model  Total Quantity  Total Amount
0       GALAXY M01 CORE (1/16GB)            6155  7.688462e+07
1                  GALAXY Z FLIP             275  7.368332e+07
2            GALAXY M01 (3/32GB)            6929  1.316749e+08
3               GALAXY TAB A 7.0             863  2.160949e+07
4            GALAXY M11 (3/32GB)            8548  2.163684e+08
5           GALAXY A31 (6/128GB)            1951  7.515922e+07
6           GALAXY A71 (8/128GB)             864  5.705363e+07
7       GALAXY M01 CORE (2/32GB)            6957  1.055884e+08
8                GALAXY FIT LITE            8411  5.118444e+07
9                    GALAXY FIT2            1175  1.133439e+07
10                   GALAXY STAR              40  5.204100e+05
11                  GALAXY BOOK2           12426  2.269363e+09
12          GALAXY BOOK2 PRO 360            4732  1.469864e+09
13      GALAXY Z FOLD 3 (256 GB)            9517  3.535746e+09
14      GALAXY Z FOLD 3 (512 GB)            4931  1.898903e+09
15             GALAXY Z FOLD2 5G             679  2.280663e+08
16       GALAXY S20 FE (8/128GB)            1858  2.403952e+08
17   GALAXY S20 ULTRA (12/128GB)             408  9.480669e+07
18              GALAXY BOOK2 360            2510  6.415089e+08
19              GALAXY BOOK2 PRO            3145  9.111889e+08
20       GALAXY S20 FE (8/256GB)              57  7.235866e+06
21                GALAXY NOTE 20             730  1.160510e+08
22    GALAXY S10 LITE (8/512 GB)             186  2.131592e+07
23                   GALAXY FOLD              51  2.380421e+07
24    GALAXY S10 LITE (8/128 GB)             190  2.234446e+07
25       GALAXY S20+ BTS EDITION             806  1.549591e+08
26          GALAXY NOTE 20 ULTRA             213  5.511947e+07
27          GALAXY BOOK3 PRO 360            6528  2.745326e+09
28              GALAXY NOTE EDGE              32  3.807096e+06
29              GALAXY BOOK3 PRO            3391  1.216875e+09
30              GALAXY BOOK3 360            9396  2.896386e+09
31                  GALAXY BOOK3            9768  2.033697e+09
32         GALAXY NOTE5 DUAL SIM              14  1.898330e+06
33            GALAXY BOOK3 ULTRA             407  2.867838e+08
34                GALAXY ACE NXT             153  2.632630e+06
35          GALAXY M01S (3/32GB)            4489  1.034345e+08
36          GALAXY M02S (3/32GB)            8113  1.925067e+08
37         GALAXY GRAND NEO PLUS             159  3.362560e+06
38                     GALAXY-J2            1185  2.100670e+07
39                    GALAXY FIT             588  1.193694e+07
40                    GALAXY-J1X             213  3.977932e+06
41                 GALAXY CORE 2             373  7.354412e+06
42               GALAXY S DUOS 3              61  9.145260e+05
43                  GALAXY TREND              19  5.028570e+05
44       GALAXY-GRAND-PRIME-PLUS              84  1.602612e+06
45                     GALAXY A3             257  6.493925e+06
46          GALAXY A21S (4/64GB)            2989  1.057638e+08
47          GALAXY A21S (6/64GB)            2860  1.029066e+08
48           GALAXY F12 (4/64GB)            7024  2.015430e+08
49          GALAXY F12 (4/128GB)            1933  5.737041e+07
50          GALAXY M02S (4/64GB)            2077  5.494127e+07
51           GALAXY M11 (4/64GB)            4721  1.309651e+08
52           GALAXY M12 (4/64GB)            7686  2.248169e+08
53          GALAXY M12 (6/128GB)            6631  2.287811e+08
54               GALAXY J5 PRIME             256  8.090425e+06
55           GALAXY M21 (4/64GB)             493  1.683615e+07
56                GALAXY-J7 2016             269  8.880235e+06
57         GALAXY WATCH3_41MM_BT            3073  1.117192e+08
58                    GALAXY-A5X              87  3.186730e+06
59               GALAXY J7 PRIME             167  4.120704e+06
60                  GALAXY J MAX             446  1.435222e+07
61          GALAXY M21 (6/128GB)             255  9.772326e+06
62          GALAXY M30S (4/64GB)             290  1.185820e+07
63                 GALAXY-J7-MAX             428  1.653648e+07
64         GALAXY A21S (6/128GB)            1069  4.410344e+07
65         GALAXY M30S (4/128GB)            1199  4.834138e+07
66           GALAXY M31 (6/64GB)             494  2.230261e+07
67          GALAXY M31 (8/128GB)             423  1.962597e+07
68                    GALAXY-A7X             174  8.891827e+06
69          GALAXY M31 (6/128GB)              67  2.705836e+06
70                  GALAXY TAB E             255  1.043150e+07
71                     GALAXY E5             308  1.216595e+07
72        GALAXY WATCH3_41MM_LTE             584  2.905602e+07
73         GALAXY M30S (6/128GB)             301  1.311397e+07
74          GALAXY F41 (6/128GB)             441  1.882536e+07
75           GALAXY WATCH ACTIVE             449  1.968490e+07
76           GALAXY F41 (6/64GB)             457  1.891082e+07
77                     GALAXY E7              23  1.466560e+06
78                 GALAXY-C7-PRO             353  1.842125e+07
79          GALAXY A51 (6/128GB)            1364  6.914398e+07
80          GALAXY M51 (8/128GB)             448  2.779889e+07
81        GALAXY WATCH3_45MM_LTE            1228  6.440871e+07
82                     GALAXY A7              62  3.391080e+06
83         GALAXY M31S (8/128GB)             106  5.288742e+06
84          GALAXY M51 (6/128GB)             361  2.104408e+07
85          GALAXY A51 (8/128GB)             490  2.603805e+07
86                GALAXY-A5-2017              15  5.856000e+05
87                GALAXY-A7-2017              60  4.000443e+06
88          GALAXY-A9-PRO (2016)              40  3.474288e+06
89                GALAXY BOOK GO            7694  7.201063e+08
90                GALAXY-A8-STAR             251  2.295909e+07
91                     GALAXY S5              66  6.214130e+06
92                 GALAXY TAB S2              28  2.040500e+06
93               GALAXY-TAB-S2-L              65  6.275500e+06
94             GALAXY-A8+ (2018)             302  2.553230e+07
95                 GALAXY C9 PRO             220  1.792222e+07
96               GALAXY MEGA 6.3              22  2.147970e+06
97                     GALAXY A8              53  4.132310e+06
98          GALAXY S20 (8/128GB)             146  2.775851e+07
99         GALAXY WATCH3_45MM_BT            3756  3.005141e+08
100               GALAXY-ON7 PRO             299  4.926516e+06
101                    GALAXY J3              64  9.504820e+05
102              GALAXY J3 16 GB             266  4.353261e+06
103               GALAXY-ON5 PRO             111  1.648098e+06
104                GALAXY-ON-MAX             364  1.354061e+07
105                   GALAXY ON8             119  2.968050e+06
106                   GALAXY-J5X             179  5.230452e+06
107        GALAXY M31S (6/128GB)              15  8.139560e+05
108        GALAXY S7 EDGE 128 GB              14  5.590200e+05
109                    GALAXY A5              39  1.264748e+06
110                 GALAXY ALPHA              44  4.754144e+06
111           GALAXY-TAB-ACTIVE2               7  6.790000e+05
CSV file saved as output.csv

Business Insights:
- The highest total amount generated is from the model "GALAXY BOOK2 PRO 360" with a total amount of 2,269,363,366.97.
- The model "GALAXY BOOK3 360" has the highest total quantity sold with 9,396 units.
- There is a noticeable trend towards higher-priced models such as "GALAXY Z FOLD 3" and "GALAXY Z FOLD2 5G" generating significant revenue despite lower quantities sold.
- Entry-level models like "GALAXY M01 CORE" and "GALAXY M02S" have high quantities sold, indicating a strong demand for budget-friendly options.
- The "GALAXY M12" series has good sales numbers across different storage variants, suggesting a popular choice among consumers.
- There is a mix of smartphone models, tablets, and smartwatches in the dataset, showcasing a diverse product portfolio catering to different consumer preferences.
- Models like "GALAXY F12" and "GALAXY F41" have variations in storage capacity, indicating a strategy to target different customer segments based on storage needs.
- The sales of older models like "GALAXY S5" and "GALAXY ALPHA" are relatively low, indicating a shift in consumer preferences towards newer models.
- The smartwatch category, represented by models like "GALAXY WATCH3_41MM_BT" and "GALAXY WATCH3_45MM_BT," shows a growing interest in wearable technology among consumers.

In [42]:
df = pd.read_csv('output.csv')
df

                           Model  Total Quantity  Total Amount
0       GALAXY M01 CORE (1/16GB)            6155  7.688462e+07
1                  GALAXY Z FLIP             275  7.368332e+07
2            GALAXY M01 (3/32GB)            6929  1.316749e+08
3               GALAXY TAB A 7.0             863  2.160949e+07
4            GALAXY M11 (3/32GB)            8548  2.163684e+08
5           GALAXY A31 (6/128GB)            1951  7.515922e+07
6           GALAXY A71 (8/128GB)             864  5.705363e+07
7       GALAXY M01 CORE (2/32GB)            6957  1.055884e+08
8                GALAXY FIT LITE            8411  5.118444e+07
9                    GALAXY FIT2            1175  1.133439e+07
10                   GALAXY STAR              40  5.204100e+05
11                  GALAXY BOOK2           12426  2.269363e+09
12          GALAXY BOOK2 PRO 360            4732  1.469864e+09
13      GALAXY Z FOLD 3 (256 GB)            9517  3.535746e+09
14      GALAXY Z FOLD 3 (512 GB)            4931  1.898903e+09
15             GALAXY Z FOLD2 5G             679  2.280663e+08
16       GALAXY S20 FE (8/128GB)            1858  2.403952e+08
17   GALAXY S20 ULTRA (12/128GB)             408  9.480669e+07
18              GALAXY BOOK2 360            2510  6.415089e+08
19              GALAXY BOOK2 PRO            3145  9.111889e+08
20       GALAXY S20 FE (8/256GB)              57  7.235866e+06
21                GALAXY NOTE 20             730  1.160510e+08
22    GALAXY S10 LITE (8/512 GB)             186  2.131592e+07
23                   GALAXY FOLD              51  2.380421e+07
24    GALAXY S10 LITE (8/128 GB)             190  2.234446e+07
25       GALAXY S20+ BTS EDITION             806  1.549591e+08
26          GALAXY NOTE 20 ULTRA             213  5.511947e+07
27          GALAXY BOOK3 PRO 360            6528  2.745326e+09
28              GALAXY NOTE EDGE              32  3.807096e+06
29              GALAXY BOOK3 PRO            3391  1.216875e+09
30              GALAXY BOOK3 360            9396  2.896386e+09
31                  GALAXY BOOK3            9768  2.033697e+09
32         GALAXY NOTE5 DUAL SIM              14  1.898330e+06
33            GALAXY BOOK3 ULTRA             407  2.867838e+08
34                GALAXY ACE NXT             153  2.632630e+06
35          GALAXY M01S (3/32GB)            4489  1.034345e+08
36          GALAXY M02S (3/32GB)            8113  1.925067e+08
37         GALAXY GRAND NEO PLUS             159  3.362560e+06
38                     GALAXY-J2            1185  2.100670e+07
39                    GALAXY FIT             588  1.193694e+07
40                    GALAXY-J1X             213  3.977932e+06
41                 GALAXY CORE 2             373  7.354412e+06
42               GALAXY S DUOS 3              61  9.145260e+05
43                  GALAXY TREND              19  5.028570e+05
44       GALAXY-GRAND-PRIME-PLUS              84  1.602612e+06
45                     GALAXY A3             257  6.493925e+06
46          GALAXY A21S (4/64GB)            2989  1.057638e+08
47          GALAXY A21S (6/64GB)            2860  1.029066e+08
48           GALAXY F12 (4/64GB)            7024  2.015430e+08
49          GALAXY F12 (4/128GB)            1933  5.737041e+07
50          GALAXY M02S (4/64GB)            2077  5.494127e+07
51           GALAXY M11 (4/64GB)            4721  1.309651e+08
52           GALAXY M12 (4/64GB)            7686  2.248169e+08
53          GALAXY M12 (6/128GB)            6631  2.287811e+08
54               GALAXY J5 PRIME             256  8.090425e+06
55           GALAXY M21 (4/64GB)             493  1.683615e+07
56                GALAXY-J7 2016             269  8.880235e+06
57         GALAXY WATCH3_41MM_BT            3073  1.117192e+08
58                    GALAXY-A5X              87  3.186730e+06
59               GALAXY J7 PRIME             167  4.120704e+06
60                  GALAXY J MAX             446  1.435222e+07
61          GALAXY M21 (6/128GB)             255  9.772326e+06
62          GALAXY M30S (4/64GB)             290  1.185820e+07
63                 GALAXY-J7-MAX             428  1.653648e+07
64         GALAXY A21S (6/128GB)            1069  4.410344e+07
65         GALAXY M30S (4/128GB)            1199  4.834138e+07
66           GALAXY M31 (6/64GB)             494  2.230261e+07
67          GALAXY M31 (8/128GB)             423  1.962597e+07
68                    GALAXY-A7X             174  8.891827e+06
69          GALAXY M31 (6/128GB)              67  2.705836e+06
70                  GALAXY TAB E             255  1.043150e+07
71                     GALAXY E5             308  1.216595e+07
72        GALAXY WATCH3_41MM_LTE             584  2.905602e+07
73         GALAXY M30S (6/128GB)             301  1.311397e+07
74          GALAXY F41 (6/128GB)             441  1.882536e+07
75           GALAXY WATCH ACTIVE             449  1.968490e+07
76           GALAXY F41 (6/64GB)             457  1.891082e+07
77                     GALAXY E7              23  1.466560e+06
78                 GALAXY-C7-PRO             353  1.842125e+07
79          GALAXY A51 (6/128GB)            1364  6.914398e+07
80          GALAXY M51 (8/128GB)             448  2.779889e+07
81        GALAXY WATCH3_45MM_LTE            1228  6.440871e+07
82                     GALAXY A7              62  3.391080e+06
83         GALAXY M31S (8/128GB)             106  5.288742e+06
84          GALAXY M51 (6/128GB)             361  2.104408e+07
85          GALAXY A51 (8/128GB)             490  2.603805e+07
86                GALAXY-A5-2017              15  5.856000e+05
87                GALAXY-A7-2017              60  4.000443e+06
88          GALAXY-A9-PRO (2016)              40  3.474288e+06
89                GALAXY BOOK GO            7694  7.201063e+08
90                GALAXY-A8-STAR             251  2.295909e+07
91                     GALAXY S5              66  6.214130e+06
92                 GALAXY TAB S2              28  2.040500e+06
93               GALAXY-TAB-S2-L              65  6.275500e+06
94             GALAXY-A8+ (2018)             302  2.553230e+07
95                 GALAXY C9 PRO             220  1.792222e+07
96               GALAXY MEGA 6.3              22  2.147970e+06
97                     GALAXY A8              53  4.132310e+06
98          GALAXY S20 (8/128GB)             146  2.775851e+07
99         GALAXY WATCH3_45MM_BT            3756  3.005141e+08
100               GALAXY-ON7 PRO             299  4.926516e+06
101                    GALAXY J3              64  9.504820e+05
102              GALAXY J3 16 GB             266  4.353261e+06
103               GALAXY-ON5 PRO             111  1.648098e+06
104                GALAXY-ON-MAX             364  1.354061e+07
105                   GALAXY ON8             119  2.968050e+06
106                   GALAXY-J5X             179  5.230452e+06
107        GALAXY M31S (6/128GB)              15  8.139560e+05
108        GALAXY S7 EDGE 128 GB              14  5.590200e+05
109                    GALAXY A5              39  1.264748e+06
110                 GALAXY ALPHA              44  4.754144e+06
111           GALAXY-TAB-ACTIVE2               7  6.790000e+05

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r'F:\hirthickkesh\sam\mx_sales_new.csv')
df2 = pd.read_csv(r'F:\hirthickkesh\sam\mx_dlb_new.csv')
df3 = pd.read_csv(r'F:\hirthickkesh\sam\ce_sales_new.csv')
df4 = pd.read_csv(r'F:\hirthickkesh\sam\ce_dlb_new.csv')

In [5]:
df1.head(2)

,salestype,salescategory,channel,priceband,region,year,month,day,date,weekyear,segment,model,quantity,amount
0,Sell Out,Normal,B2B,< 6 K,B2b,2024,2,7,2024-02-07,24.06W,Smart Phone,A2 CORE,4,20744.0
1,Sell Out,Normal,B2B,< 6 K,B2b,2024,2,16,2024-02-16,24.07W,Smart Phone,A2 CORE,8,165952.0

In [21]:
df1['region'].value_counts()

region
ONLINE     55748
MT         49138
NORTH 1    42884
SOUTH 1    42761
EAST 1     41927
WEST 2     41879
NORTH 2    41601
WEST 1     41285
NORTH 3    40505
WEST 3     39403
NORTH 4    38931
SOUTH 3    38719
EAST 2     36945
SOUTH 2    35638
WEST 4     35147
B2B          997
Name: count, dtype: int64

In [11]:

# Capitalize the 'model' and 'region' columns in both datasets
df1['model'] = df1['model'].str.upper()
df1['region'] = df1['region'].str.upper()

df2['model'] = df2['model'].str.upper()
df2['region'] = df2['region'].str.upper()

In [14]:
df1.shape

(623508, 14)

In [12]:


# Merge the tables based on 'region' and 'model'
merged_df_capitalized = pd.merge(df1, df2, how='left', left_on=['region', 'model'], right_on=['region', 'model'])

In [16]:
df1['area'].unique()

array(['B2B', 'GT', 'MT', nan, 'ONLINE'], dtype=object)

In [17]:
df2['channel'].unique()

array(['GT'], dtype=object)

In [18]:

# Check if there is a column named 'area' in the merged dataframe
if 'region' in merged_df_capitalized.columns:
    # Group by the 'area' column and check for null values in other columns
    null_values_by_area = merged_df_capitalized.groupby('region').apply(lambda x: x.isnull().sum())

    
else:
    null_values_by_area = "The column 'area' does not exist in the dataset."

C:\Users\mp\AppData\Local\Temp\ipykernel_23524\573766629.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  null_values_by_area = merged_df_capitalized.groupby('region').apply(lambda x: x.isnull().sum())